body{
    background: #000;
}
#container{
    background: rgb(116, 8, 83);
    width: 600px;
    height: 450px;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: auto;
    border: solid 1px #fff;
}
.filho{
    background-color: rgb(30, 76, 177);
    width: 200px;
    height: auto;
    margin: auto;
    border: solid 2px rgb(120, 243, 202);
    flex-wrap: wrap;
    padding: 10px;
    text-align: center;
    font-size: 1.1em;
    font-style: oblique;
    color: #FFF;
}